# This workflow build the latest commit from the main branch
# and publishes the result to the Github Pages branch

name: CI

# triggers the workflow on push or pull request events for the main branch
on:
  push:
    branches: [main]

jobs:
  # workflow contains a single job called "build"
  build:
    # type of runner that the job will run on
    runs-on: ubuntu-latest

    # sequence of tasks that will be executed as part of the job
    steps:
      # input branch
      - name: Checkout main branch
        uses: actions/checkout@v2

      # setup runtime & dependencies
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '17.x'

      - name: Install dependencies
        run: yarn install

      - name: Build game
        run: |
          yarn build

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          build_dir: dist
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}